<div class="publications">
  <h4>conference papers</h4>
  {% bibliography -f papers -q @*[is_conference=true]* %}

  <h4>journal papers</h4>
  {% bibliography -f papers -q @*[is_journal=true]* %}

  <h4>theses</h4>
  {% bibliography -f papers -q @*[is_thesis=true]* %}
</div>
